// stylelint-disable declaration-colon-space-after, max-nesting-depth

// TODO: 1. Text Box Button
// TODO: 2. Fluent UI System Icons (dismiss_12_regular.svg) -> Segoe Fluent Icons (e624 Clear12)

@use "../../../styles/typography";
@use "../../../styles/color";
@use "../../controls";

@mixin light {
  --_text-box-color:                         #{color.$Light_Text_Primary};
  --_text-box-background-color:              #{color.$Light_ControlFill_Default};
  --_text-box-border-color_1:                #{controls.$Light_TextControlElevation_Border_1};
  --_text-box-border-color_2:                #{controls.$Light_TextControlElevation_Border_2};
  --_text-box-placeholder-color:             #{color.$Light_Text_Secondary};
  --_text-box-selection-color:               #{color.$Light_TextOnAccent_SelectedText};
  --_text-box-selection-background-color:    #{color.$Light_AccentFill_SelectedTextBackground};
  --_text-box-hover-background-color:        #{color.$Light_ControlFill_Secondary};
  --_text-box-active-focus-background-color: #{color.$Light_ControlFill_InputActive};
  --_text-box-active-focus-border-color_1:   #{color.$Light_ControlStroke_Default};
  --_text-box-active-focus-border-color_2:   #{color.$Light_AccentFill_Default};
  --_text-box-disabled-color:                #{color.$Light_Text_Disabled};
  --_text-box-disabled-background-color:     #{color.$Light_ControlFill_Disabled};
  --_text-box-disabled-border-color:         #{color.$Light_ControlStroke_Default};
  --_text-box-disabled-placeholder-color:    #{color.$Light_Text_Disabled};
}

$_light-text-box-active-focus-background-image: #{color.$Light_Text_Secondary};

@mixin light-text-box-background-image {
  .f-text-box {
    &:active,
    &:focus {
      background-image: url("data:image/svg+xml, <svg width='12' height='12' viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'><path fill='#{$_light-text-box-active-focus-background-image}' d='M2.09 2.22l.06-.07a.5.5 0 01.63-.06l.07.06L6 5.29l3.15-3.14a.5.5 0 11.7.7L6.71 6l3.14 3.15c.18.17.2.44.06.63l-.06.07a.5.5 0 01-.63.06l-.07-.06L6 6.71 2.85 9.85a.5.5 0 01-.7-.7L5.29 6 2.15 2.85a.5.5 0 01-.06-.63l.06-.07-.06.07z'/></svg>");
    }
  }
}

@mixin dark {
  --_text-box-color:                         #{color.$Dark_Text_Primary};
  --_text-box-background-color:              #{color.$Dark_ControlFill_Default};
  --_text-box-border-color_1:                #{controls.$Dark_TextControlElevation_Border_1};
  --_text-box-border-color_2:                #{controls.$Dark_TextControlElevation_Border_2};
  --_text-box-placeholder-color:             #{color.$Dark_Text_Secondary};
  --_text-box-selection-color:               #{color.$Dark_TextOnAccent_SelectedText};
  --_text-box-selection-background-color:    #{color.$Dark_AccentFill_SelectedTextBackground};
  --_text-box-hover-background-color:        #{color.$Dark_ControlFill_Secondary};
  --_text-box-active-focus-background-color: #{color.$Dark_ControlFill_InputActive};
  --_text-box-active-focus-border-color_1:   #{color.$Dark_ControlStroke_Default};
  --_text-box-active-focus-border-color_2:   #{color.$Dark_AccentFill_Default};
  --_text-box-disabled-color:                #{color.$Dark_Text_Disabled};
  --_text-box-disabled-background-color:     #{color.$Dark_ControlFill_Disabled};
  --_text-box-disabled-border-color:         #{color.$Dark_ControlStroke_Default};
  --_text-box-disabled-placeholder-color:    #{color.$Dark_Text_Disabled};
}

$_dark-text-box-active-focus-background-image: #{color.$Dark_Text_Secondary};

@mixin dark-text-box-background-image {
  .f-text-box {
    &:active,
    &:focus {
      background-image: url("data:image/svg+xml, <svg width='12' height='12' viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'><path fill='#{$_dark-text-box-active-focus-background-image}' d='M2.09 2.22l.06-.07a.5.5 0 01.63-.06l.07.06L6 5.29l3.15-3.14a.5.5 0 11.7.7L6.71 6l3.14 3.15c.18.17.2.44.06.63l-.06.07a.5.5 0 01-.63.06l-.07-.06L6 6.71 2.85 9.85a.5.5 0 01-.7-.7L5.29 6 2.15 2.85a.5.5 0 01-.06-.63l.06-.07-.06.07z'/></svg>");
    }
  }
}

$_padding-inline:  11px;
$_background-size: 12px;

.f-text-box {
  box-sizing: border-box;
  block-size: 32px;
  inline-size: 160px;
  padding-block: 5px;
  padding-inline: $_padding-inline calc(8px + $_background-size + $_padding-inline);
  color: var(--_text-box-color);
  background-color: var(--_text-box-background-color);
  border-color: var(--_text-box-border-color_1);
  border-style: solid;
  border-width: 1px;
  border-radius: controls.$controls-border-radius;
  border-block-end-color: var(--_text-box-border-color_2);
  appearance: none;
  caret-color: currentColor;
  // caret-shape: bar;

  @include typography.body;
  @include controls.transition;

  &::placeholder {
    color: var(--_text-box-placeholder-color);
  }

  // &:placeholder-shown { ... }

  &::selection {
    color: var(--_text-box-selection-color);
    background-color: var(--_text-box-selection-background-color);
  }

  &:hover {
    // color: ; // ::placeholder || ::selection
    background-color: var(--_text-box-hover-background-color);
    // border-color: ; // ..._TextControlElevation_Border
  }

  &:active,
  &:focus {
    padding-block-end: 4px;
    // color: ; // ::placeholder || ::selection
    background-color: var(--_text-box-active-focus-background-color);
    // background-image: ; // dismiss_12_regular.svg
    background-repeat: no-repeat;
    background-position: right $_padding-inline center;
    background-size: $_background-size;
    border-color: var(--_text-box-active-focus-border-color_1);
    border-block-end-width: 2px;
    border-block-end-color: var(--_text-box-active-focus-border-color_2);
  }

  &:focus-visible {
    outline: transparent none 0;
  }

  &:disabled {
    color: var(--_text-box-disabled-color);
    background-color: var(--_text-box-disabled-background-color);
    border-color: var(--_text-box-disabled-border-color);
    pointer-events: none;

    &::placeholder {
      color: var(--_text-box-disabled-placeholder-color);
    }
  }
}
